body{
            
  background-image: url(https://tse1.mm.bing.net/th?id=OIP.MFnjdYy8Gm5l9Uz-W4lQqgHaEK&pid=Api&P=0&w=274&h=155);
  
}


div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray currentColor ;
    margin: 0 auto;
    
  }
  

footer{
  width: 5x;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color:rgba(226, 13, 13, 0.952);



} 

.item { 
    font-weight: bolder;
    display: inline; 
    background-color: rgb(255, 255, 255);
    margin: 20px;
}


  

      
     a:visited{
        color: rgba(233, 4, 4, 0.404);
      
      } 
      h2{ text-shadow: 2px 2px black ; 
        text-align: center;
        background-color: honeydew;}
     
#ff {
 text-align: center; text-shadow: 2px 2px 5px rgb(11, 85, 44) ;
 background-color: honeydew;}
            a{
              text-decoration: none;}
    
          
         